@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #eef4ec;
}




header {
  background: #000000;
  padding: 15px 30px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.brand {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
}

.brand h1 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

nav a {
  color: #ffffff;
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #00c853;
}



.hero {
  height: 100vh;
  background: url('image/ptc.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 0 20px;
  position: relative;
  margin-top: 80px;
}

.hero-overlay {
  background: rgba(0, 60, 0, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 700px;
}

.hero-content h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 25px;
}

.hero-content button {
  padding: 12px 30px;
  font-size: 18px;
  background: #00c853;
  border: none;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.hero-content button:hover {
  background: #009624;
}



.features {
  padding: 100px 40px 40px 40px;
  text-align: center;
}

.features h3 {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #003300;
}



.items-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  width: 260px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  border-top: 5px solid #00c853;

 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #003300;
}

.card p {
  font-size: 14px;
  color: #555;
}



footer {
  background: #000;
  color: #fff;
  padding: 18px;
  text-align: center;
  margin-top: 40px;
  font-weight: 500;
}



@media (max-width: 768px) {
  .hero-content h2 {
    font-size: 32px;
  }

  .hero-content p {
    font-size: 16px;
  }

  nav a {
    margin-left: 15px;
    font-size: 14px;
  }

  .card {
    width: 90%;
  }
}
